<div
  class="bg-primary rounded-b-xl h-20 flex justify-between items-center text-xl font-bold shadow-xl p-2 border-b-2 border-black"
>
  <a href="" class="h-full">
    <img src="" alt="logotip" class="w-40  h-full border mr-36" />
  </a>
  <div class="mr-16">
    <a class="hover:drop-shadow-lg hover:text-gray-600" href="/">Каталог</a>
  </div>
  <div>
    <a class="hover:drop-shadow-lg hover:text-gray-600" href="/about">О нас</a>
  </div>

  <a href="tel:+79999999999" class="ml-auto mr-20 hover:underline"
    >8-999-999-99-99</a
  >
  <div class="text-5xl hover:scale-105 relative">
    <a href="/cart">
      <fa-icon [icon]="cartIcon"></fa-icon>
    </a>
    <p *ngIf="countItemInCart !=0" class="absolute -bottom-2 -right-3 text-xl bg-white  border-black px-1 rounded-full">{{countItemInCart}}</p>
  </div>
  <div class="ml-12 text-5xl mr-10 hover:scale-105">
    <a href="/login">
      <fa-icon [icon]="userIcon"></fa-icon>
    </a>
  </div>
</div>
