<div class="mt-4">

  <div class="p-4 border border-black rounded-lg">
    <h1 class="text-3xl font-bold text-black mb-4">Фильтр <fa-icon [icon]="arrIcon" class="text-2xl transition lg:hidden" (click)="openFiltr()"></fa-icon></h1>


    <div class="transition grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 " [ngClass]="{'hidden': fltr, 'grid': !fltr}">
      <div class="flex flex-col md:col-span-2 lg:col-span-3 xl:col-span-1">
        <h2 class="font-bold text-xl ">Поиск по названию</h2>
        <input
          type="text"
          name=""
          id=""
          placeholder="Введите название"
          class="border-2 border-primary rounded-lg p-2 w-full focus:shadow-md focus:shadow-primary"
        />
      </div>

      <div class="flex flex-col md:col-span-1 lg:col-span-1 xl:col-span-1">
        <h2 class="font-bold text-xl">Цена</h2>
        <div class="flex items-center mb-4">
          <p class="font-bold mr-1">От</p>
          <input
            type="number"
            name=""
            id=""
            min="0"
            value="0"
            class="border-2 border-primary rounded-lg w-16  p-1 mr-2 focus:shadow-md focus:shadow-primary"
          />
          <p class="font-bold mr-1">До</p>
          <input
            type="number"
            name=""
            id=""
            value="999999"
            class="border-2 border-primary rounded-lg w-20  p-1 focus:shadow-md focus:shadow-primary"
          />
        </div>
        <select
          name=""
          id=""
          class="border-2 border-primary rounded-lg p-2 w-full md:w-52 text-center focus:shadow-md focus:shadow-primary"
        >
          <option value="">По возрастанию</option>
          <option value="">По убыванию</option>
        </select>
      </div>

      <div class="flex flex-col md:col-span-2 lg:col-span-2 xl:col-span-1">
        <h2 class="font-bold text-xl">Параметр 1</h2>
        <select
          name=""
          id=""
          class="border-2 border-primary rounded-lg p-2 w-full focus:shadow-md focus:shadow-primary"
        >
          <option value="">Опция</option>
          <option value="">Опция</option>
          <option value="">Опция</option>
          <option value="">Опция</option>
        </select>

        <h2 class="font-bold text-xl mt-4">Параметр 2</h2>
        <select
          name=""
          id=""
          class="border-2 border-primary rounded-lg p-2 w-full focus:shadow-md focus:shadow-primary"
        >
          <option value="">Опция</option>
          <option value="">Опция</option>
          <option value="">Опция</option>
          <option value="">Опция</option>
        </select>

        <h2 class="font-bold text-xl mt-4">Параметр 3</h2>
        <select
          name=""
          id=""
          class="border-2 border-primary rounded-lg p-2 w-full focus:shadow-md focus:shadow-primary"
        >
          <option value="">Опция</option>
          <option value="">Опция</option>
          <option value="">Опция</option>
          <option value="">Опция</option>
        </select>
      </div>
      <br>
      <div class="flex flex-row  items-end md:col-span-2 lg:col-span-1 xl:col-span-1">
        <button
          class="bg-primary border-2 border-amber-300 font-bold rounded-lg hover:bg-amber-500 hover:shadow-lg hover:shadow-primary w-36 h-12 mr-4 "
        >
          Применить
        </button>
        <button
          class="border-2 border-amber-300 font-bold rounded-lg hover:shadow-lg hover:bg-amber-100 hover:shadow-primary w-36 h-12"
        >
          Сбросить
        </button>
      </div>
    </div>
  </div>


<!--                         wdwdwdwdwwdwdwdwdwwddwwwddwwddddwwwddwd-->
  <div class="flex flex-wrap mt-4 place-content-center">
    <div
      class="border-2 border-black rounded-lg p-2 flex m-2 w-full lg:w-auto"
      *ngFor="let num of list"
    >
      <a href="catalog/{{category}}/4">
        <img
          src="assets/ysor.png"
          alt="Фото товара"
          class="rounded-lg p-2 w-[185px] h-[185px] lg:w-[252px] lg:h-[252px] min-w-[185px] lg:min-w-[252px] mr-4 hover:scale-105 hover:shadow-md hover:shadow-primary"
        />
      </a>
      <div class="lg:flex-col flex-col sm:flex-row flex w-full">
      <div class="justify-between">
        <a href="catalog/{{category}}/4">
          <h1
            class="text-xl font-bold mb-2 hover:underline hover:drop-shadow-lg"
          >
            Название
          </h1>
        </a>
        <p>Характеристика</p>
        <p>Характеристика</p>
        <p>Характеристика</p>
        <p>Характеристика</p>
      </div>
        <div class="mt-auto ml-auto">
        <h1 class="text-xl font-bold text-right  mb-2">
          Цена: {{ num }}р.
        </h1>
        <button
          class="bg-primary border-2 border-amber-300 font-bold rounded-lg hover:bg-amber-500 hover:shadow-lg hover:shadow-primary w-full h-12 mr-4"
        >
          Добавить в корзину <fa-icon [icon]="cart"></fa-icon>
        </button>
      </div>
      </div>
    </div>
  </div>
</div>
