<div class="flex place-content-center mt-4 border border-gray-400 rounded-lg p-12">
  <div class=" w-[400px] h-[400px]">
    <img src="assets/ysor.png" alt="" class="w-[5067px] h-[780px] max-w-[400px] max-h-[400px]">
  </div>
  <div class="px-12 flex-col flex">
    <h1 class="text-3xl font-bold mb-4">
      Название
    </h1>
    <div class="ml-4 leading-10">
    <p>Характеристика</p>
    <p>Характеристика</p>
    <p>Характеристика</p>
    <p>Характеристика</p>
    <p>Характеристика</p>
  </div>
    <h1 class="text-xl font-bold mt-auto my-4">
      Цена(шт): *****р.
    </h1>
    <div class="flex items-center">
      <input
            type="number"
            name=""
            id=""
            min="1"
            value="1"
            class="mx-1 mr-4 h-8 border-2 border-primary rounded-lg w-16 p-1 focus:shadow-md focus:shadow-primary"
          />
    <button
          class="bg-primary border-2 border-amber-300 font-bold rounded-lg hover:bg-amber-500 hover:shadow-lg hover:shadow-primary w-full h-12 p-1 mr-4"
        >
          Добавить в корзину <fa-icon [icon]="cart"></fa-icon>
        </button>
      </div>

  </div>
</div>
<div class=" mt-4 border border-gray-400 rounded-lg px-12 py-4">
  <h1 class="text-2xl font-bold my-4">
    Описание
  </h1>
  <p class="">Название Характеристика Характеристика Характеристика ************* ***************** ***************************** *********************** ***************** ******************** ********************* ***** ************* ***************** **************** ******************* ************************************* ********************* ********** ************** ********</p>
</div>
