<div class="flex flex-col  border-2 border-black rounded-lg m-auto w-1/4 place-content-center p-4 mt-12">
  <h1 class="text-3xl text-center ">Вход</h1>
  <input
          type="text"
          name=""
          id=""
          placeholder="Логин"
          class="border-2 my-2 border-primary rounded-lg p-2 mx-auto w-64 text-left focus:shadow-md focus:shadow-primary"
        />
        <input
        type="text"
        name=""
        id=""
        placeholder="Пароль"
        class="border-2 my-2 border-primary rounded-lg p-2 mx-auto w-64 text-left focus:shadow-md focus:shadow-primary"
      />
      <button
      class="bg-primary border-2 my-4 border-amber-300 font-bold rounded-lg hover:bg-amber-500 hover:shadow-lg hover:shadow-primary m-auto w-36 h-12 "
    >
      Войти
    </button>
    <p class="text-center">Нет аккаунта? <a href="/registration" class="text-primary hover:underline font-bold">Зарегистрируйтесь!</a></p>
</div>
