<div class="pt-4">
  <p class="text-3xl font-bold text-center mb-5">Категории товаров</p>
  <div class="flex flex-wrap place-content-center text-center lg:w-3/4  m-auto">

    <div class="border-2 border-black rounded-lg shadow-lg hover:shadow-yellow-300 hover:scale-105 w-9/12 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4 m-3">
      <a href="catalog/category1">
        <p class="text-2xl font-bold mb-4">Категория</p>
        <img src="" alt="foto" class="p-5 h-36">
        </a>
    </div>
    <div class="border-2 border-black rounded-lg shadow-lg hover:shadow-yellow-300 hover:scale-105 w-9/12 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4 m-3">
      <a href="catalog/category2">
        <p class="text-2xl font-bold mb-4">Категория</p>
        <img src="" alt="foto" class="p-5 h-36">
        </a>
    </div>
    <div class="border-2 border-black rounded-lg shadow-lg hover:shadow-yellow-300 hover:scale-105 w-9/12 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4 m-3">
      <a href="catalog/category3">
        <p class="text-2xl font-bold mb-4">Категория</p>
        <img src="" alt="foto" class="p-5 h-36">
        </a>
    </div>
    <div class="border-2 border-black rounded-lg shadow-lg hover:shadow-yellow-300 hover:scale-105 w-9/12 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4 m-3">
      <a href="catalog/category4">
        <p class="text-2xl font-bold mb-4">Категория</p>
        <img src="" alt="foto" class="p-5 h-36">
        </a>
    </div>
    <div class="border-2 border-black rounded-lg shadow-lg hover:shadow-yellow-300 hover:scale-105 w-9/12 sm:w-1/2 md:w-1/3 lg:w-1/3 xl:w-1/4 m-3">
      <a href="catalog/category5">
      <p class="text-2xl font-bold mb-4">Категория</p>
      <img src="" alt="foto" class="p-5 h-36">
      </a>
    </div>


  </div>
</div>
